<div class="grid_16 branding">
 <a href="$portalPath/home">
    <img src="$portalPath/images/utslogo.png" align="left" height="30" /> &nbsp; MINT : UTS eResearch authority files </a></h1>
</div>
<div class="clear"></div>